<ion-view class="background">
  <ion-nav-title><center>ΚΑΤΑΣΤΗΜΑΤΑ</center></ion-nav-title>
   <ion-content>
     <div style="font-size:15px;"><br><center>Επιλέξτε ένα από τα καταστήματα για να πλοηγηθείτε ή δείτε πληροφορίες στον χάρτη<br>
    <div style="font-size:25px;"> <br>Αθήνα</div>
    <div class="button-bar">
        <button class="button button-block button-balanced" browse-to="http://www.google.com/maps/dir/current+position/Leof.+Kifisou+18,+Athina+182+33,+Greece">Κηφισού 18</button>
        <button class="button button-block" browse-to=http://www.google.com/maps/dir/current+position/Evripidou+46,+Athina+105+52,+Greece"">Ευριπίδου 46</button>
    </div>
   <div style="font-size:25px;">Θεσσαλονίκη</div>
   <div class="button-bar">
        <button class="button button-block button-balanced" browse-to="http://www.google.com/maps/dir/current+position/Εσωτερική+Περιφερειακή+Θεσσαλονίκης,+Ελευθέριο+Κορδελιό+546+28,+Ελλάδα"">Νέα Περιφ.Οδός</button>
        <button class="button button-block" browse-to="http://www.google.com/maps/dir/current+position/Askitou+29+Thessaloniki+546+24+Greece">Ασκητού 29-31</button>
       </center>
         </div>
</div>

        <div id="map" data-tap-disabled="true">  </div>
       
         <div class="gm-style-iw"></div>
    
    </ion-content>
</ion-view>